.formCo{
    width: "820px";
    height: "64px";
    text-align: "left";
    font-family: 'normal normal normal 21px Open Sans';
    font-size: '16px';
    color: '#707070';
    padding-top: '80px';
    padding-bottom:'auto',; 
    margin: 'auto';
    justify-content: '';
}