/* .col1{
    display: inline;
    border: 1px solid black;
    width: 40%;
    margin: auto;
    padding-right: 0px;
    padding-left: 10%;

}

.col2{
    display: inline;
    border: 1px solid black;
    width: 40%;
    margin: auto;
    padding-right: 0px;
    padding-left: 0;
}
.btn1{
    margin-top: 100px;
    float: left;
    width:'75px';
    float:'left';

}
.btn2{
    margin-top: 100px;
} */
/* width: "820px";
height: "64px";
text-align: "left";
font-family: 'normal normal normal 21px/28px Open Sans';
font-size: '16px';
color: '#707070';
padding-top: '180px';
margin: 'auto'; */