.cardM{margin: auto;}
.main{
    background-image: url('.././asserts/wepik-2022319-214333.png');
    padding-top: 50px;
    padding-left: 260px;
    padding-bottom: 50px;
    margin: auto;
    padding-right: 600px;
    background-attachment: fixed;
}

.card1{    
    /* width: 1374px;
    height: 917px; */
    width: 800px;
    height: 550px;
}
.cardBody1{
    /* top: 83px;
    left: 1182px; */
    /* width: 464px;
    height: 915px; */
    width: 400px;
    height: 700px;
    background: #111111 0% 0% no-repeat padding-box;
    padding-top: 50px;
    /* padding-right: 273px; */
    padding-bottom: 82px;
    /* border: 5px solid black; */
    opacity: 1;
    
}

.clogo{
    /* border: 1px solid black; */
    /* padding-top: 196px; */
    padding-left: 430px;
    /* padding-bottom: 100 px; */
    padding-right: 383px;
}
.cardMBody1{
    border: 1px solid black;
    /* background-color: #111111; */

}
.cardBody2{
    padding-top: 83px;
    /* padding-right: 273px; */
    padding-left: 430px;
    padding-bottom: 82px;
    font-family: Agrandir Variable, Medium;
    font-size: 16px;
    text-align: left;color: white;
}

input{
    border-radius: 8px;
    width: 310px;
    height: 38px;
}